extends layout



block content

  .container-fluid
    .row
      .col.sidebar
        div.pixel-con
          img.pixel(src='/images/trophy.png' alt='trophy' width='70px')
          img.pixel(src='/images/bolt.png' alt='bolt' width='70px')
          img.pixel(src='/images/coin.png' alt='coin' width='70px')
          img.pixel(src='/images/heart.png' alt='heart' width='70px')
          img.pixel(src='/images/potion.png' alt='potion' width='70px')
          img.pixel(src='/images/shield.png' alt='shield' width='70px')
          img.pixel(src='/images/shroom.png' alt='shroom' width='70px')
          img.pixel(src='/images/start.png' alt='start' width='70px')
          img.pixel(src='/images/sword.png' alt='sword' width='70px')
          
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
        .container-dash
              .child-dash
                img.avatar(src=`${user.avatar}` )
              .child-dash
                p.user-dash-items=user.name
                p.user-dash-items=user.email
              .child-dash
                canvas.user-dash-items(id="habitChart" width="200" height="200")
             
              
        h2.title= title
        div
          a.btn.btn-primary(href='/tasks/create') Add New  
          .row.placeholders
            .col-xs-6.col-sm-3.placeholder
            
          form.form-inline.mt-2.mt-md-0
            input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
          h2.sub-header 
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th Category
                  th Difficulty
                  th Name
                  th Due Date
                  th Notes
                  th Repeating
                  th Completed
                  th
                  th
              tbody
              each task in tasks
                tr
                  td=task.category
                   td=task.difficulty
                  td
                    a.btn-sm.btn-primary(href='/tasks/'+task._id)=task.name
                  if task.due_date !== undefined
                    td=task.due_date.toDateString()
                  td=task.notes
                  td=task.repeating
                    if task.completed != true
                      td
                        form(action=`/tasks/completed/${task._id}?_method=PUT`, method='POST')
                          button.btn-sm.btn-warning(id='completed', name='completed' value='yes')  Mark Complete
                    else
                      td
                        p.fas.fa-check
                      
                  td   
                      a.far.fa-edit(href='/tasks/edit/'+ task._id)
            
                  td
                      button.far.fa-trash-alt(id="delete", value=task._id) 
        
  script.
     // delete fetch function for delete method
     let del = document.getElementById('delete')
     del.addEventListener('click',
        function () {  
          //console.log("CHECK")
          fetch('http://localhost:3009/tasks/'+ del.value, {    
            method: 'DELETE'
            })  
            .then(res => {if (res.ok) return res.json()  })
            .then(data => {    
                console.log(data)    
                //window.location.reload()  
                })
              .catch(err => console.log(err))
          })

     
              
   