extends ../layout

block content

    .container-fluid
        
        div.container-task
          div.child-task
              
                p=task.name 
                p=task.description
                p=task.due_date.toDateString()
                p=task.difficulty
                p=task.category
                p=task.repeating

