extends ../layout

block content

    .container-fluid
        h1.title-text= title
        div
          div
              p=task.name
              p=task.description
              p=task.due_date.toDateString()
              p=task.repeating

