extends ../layout

block content

    .container-fluid
        
        div.container-task
          div.child-task
            div.form-group Name
                p.form-control=task.name 
            div.form-group Notes
                p.form-control=task.notes
            div.form-group Due Date
                p.form-control=task.due_date.toDateString()
            div.form-group Difficulty
                p.form-control=task.difficulty
            div.form-group Category
                p.form-control=task.category
            div.form-group 
                a.far.fa-edit(href='/tasks/edit/'+ task._id)
            div.form-group 
                button.far.fa-trash-alt(id="delete", value=task._id) 


                    
    script.
      // delete fetch function for delete method
      let del = document.getElementById('delete')
      del.addEventListener('click', 
          function () {  
            //console.log("CHECK")
            fetch('http://localhost:3009/tasks/'+ del.value, {    
               method: 'DELETE'
              })  
              .then(res => {if (res.ok) return res.json()  })
              .then(data => {    
                  console.log(data)    
                  //window.location.reload()  
                  })
                .catch(err => console.log(err))
            })

        //- function check () {
        //-   console.log("CHECK")
        //- }
      
              
        